@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background: #1E1E1E;
    color: white;
    height: 100vh;
    
}

header{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    position: fixed;
    padding: 48px;
    background: #1E1E1E;
    
}


button{
    padding:1rem 1.5rem ;
    border: 1px solid #10B981;
    border-radius: 8px;
    background: transparent;
    color: white;
    font-weight: 600;
    font-size: 16px;
    display: flex;
    align-items: center;
}

button div{
    margin-left: 12px;
}

#form-habits{
    display: flex;
    padding:  182px 48px 48px ;
    width: fit-content;
    flex-direction: column;
    align-items: center;
    width: 100vw;

}

.habits{
    display: flex;
    gap: 24px;
    padding-left: 85px;
    position: fixed ;
    background: #1E1E1E ;
    

}

.habit{
    width: 4rem;
    height: 4rem;
    font-size: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.days{
    display: flex;
    gap: 48px;
    flex-direction: column;
    padding-top: 80px;
}

.day{
    display: flex;
    gap: 24px;
    align-items: center;
}

.day div{
    font-family: 'Roboto Mono';
    margin-bottom: 8px;
    font-weight: 700;
    font-size: 20px;
    line-height: 125%;
    color: #A1A1AA;
    text-align: center;
}


input {
    appearance: none;
    -webkit-appearance: none;

    height: 64px;
    width: 64px;
    border-radius: 8px;
    border: 2px solid #27272A;
    background: #18181B;
}

input:checked{
    border: 2px solid #34D399;
    background: #10B981;
}

